# Server Configuration
PORT=5000
NODE_ENV=development

# API Configuration
API_PREFIX=/api/v1
JWT_SECRET=

DATABASE_URL=

# Resend (email verification)
RESEND_API_KEY=
EMAIL_FROM=noreply@example.com

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=